label{
    font-weight: normal;
}

.breadcrumb {
    background-color: transparent;
    padding: 0.27rem 0;
}

/* Untuk table dynamic form */
.container-items-horizontal td .form-group{
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.card {
    background-color: #fff;
    border: none;
    border-radius: .625rem;
    box-shadow: 0 .46875rem 2.1875rem rgba(90, 97, 105, .1), 0 .9375rem 1.40625rem rgba(90, 97, 105, .1), 0 .25rem .53125rem rgba(90, 97, 105, .12), 0 .125rem .1875rem rgba(90, 97, 105, .1);
}

.card-header {
    border-bottom: none;
    background-color: transparent;
}

.card .table th,
.card .table td {
    border-bottom: none;
}

.card .table th + th,
.card .table td + td {
    border-left: 1px solid #dee2e6;
}

.card .table tr + tr th,
.card .table tr + tr td {
    border-top: 1px solid #dee2e6;
}

.card-footer {
    padding: 1rem 1.25rem;
    background-color: transparent;
}

.card-footer .form-group{
    margin-top: 1rem;
}

.card-table{
    margin-bottom: 0;
}

/* Text animation */
.ml10 {
    position: relative;
    letter-spacing: 2px;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

#layoutSidenav {
    background-color: #E5E7EB;
}

/* Dashboard */
.info-box {
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    background: #fff;
    /* display: -ms-flexbox; */
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
    width: 100%;
}

.info-box .info-box-icon {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.info-box .info-box-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 120%;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}

.info-box .info-box-text, .info-box .progress-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box .info-box-number {
    display: block;
    margin-top: .25rem;
    font-weight: 700;
}

.multiple-input-list tbody .form-group {
    margin-bottom: 0;
}

.table-fixes-last-column th:last-child{
    background-color: #F3F4F6;
}

.table-fixes-last-column tr:nth-child(odd) td:last-child{
    background-color: #F9FAFB;
    border-top: 1px solid #fff;
}

.table-fixes-last-column tr:nth-child(even) td:last-child{
    background-color: #F9FAFB;
    border-top: 1px solid #fff;
}

.table-fixes-last-column td:last-child, .table-fixes-last-column th:last-child {
    position: sticky;
    right: 0;
}

