.breadcrumb {
    background-color: transparent;
    padding: 0.27rem 0;
}

.card {
    background-color: #fff;
    border: none;
    border-radius: .625rem;
    box-shadow: 0 .46875rem 2.1875rem rgba(90, 97, 105, .1), 0 .9375rem 1.40625rem rgba(90, 97, 105, .1), 0 .25rem .53125rem rgba(90, 97, 105, .12), 0 .125rem .1875rem rgba(90, 97, 105, .1);
}

.card-header {
    border-bottom: none;
    background-color: transparent;
}

.card .table th,
.card .table td {
    border-bottom: none;
}

.card .table th + th,
.card .table td + td {
    border-left: 1px solid #dee2e6;
}

.card .table tr + tr th,
.card .table tr + tr td {
    border-top: 1px solid #dee2e6;
}

.card-footer {
    padding: 1rem 1.25rem;
    background-color: transparent;
}

.card-footer .form-group{
    margin-top: 1rem;
}

.card-table{
    margin-bottom: 0;
}

/* Text animation */
.ml10 {
    position: relative;
    letter-spacing: 2px;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

#layoutSidenav {
    background-color: #f5f6f8;
}